* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}
body {
	width: 100%;
	height: auto;
}
span:hover {
	color: rgb(241, 40, 4); 
}
@keyframes myname {
	0% {color: #0000ff;}
	25% {color: tomato;}
	50% {color: red;}
	75% {color: orangered;}
	100% {color: blue;}
}
.myname {
	animation-name: myname;
	animation-duration: 2s;
	animation-play-state: running;
	animation-iteration-count: infinite;
	width: 5%px;
	height: auto;
	transition: width 2s linear 0, height 2s linear;
}
.btn {
	transform: rotateZ(360deg);
}